<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul class="menu" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-menu-item>Home</li>
    </ul>
  </nz-header>
  <nz-content class="content-container">
    <div class="content">
      <div class="table-operations">
        <button nz-button [nzType]="'default'" [nzShape]="'circle'" [nzLoading]="loading" (click)="onReload()">
          <i class="anticon anticon-reload"></i>
        </button>
        <button nz-button [nzType]="'default'" (click)="onPrepareCreate()">
          Create
        </button>
        <button nz-button [nzType]="'default'" (click)="onClick()">
          TC
        </button>
      </div>
      <nz-modal [nzTitle]="'Create Process Modal'" [nzVisible]="isCreateModalVisible" [nzContent]="modalContent" (nzOnCancel)="onCancelCreate()" (nzOnOk)="onCreate()">
        <ng-template #modalContent>
          <form nz-form class="create-form" [formGroup]="validateForm" (ngSubmit)="onCreate()">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="name" nz-form-item-required>Name</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="validateForm.controls['name']">
                <nz-input formControlName="name" [nzId]="'name'"></nz-input>
                <div nz-form-explain *ngIf="validateForm.controls['name'].dirty && validateForm.controls['name'].hasError('required')">
                  Please input the name
                </div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="command" nz-form-item-required>Command</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="validateForm.controls['command']">
                <nz-input formControlName="command" [nzId]="'command'"></nz-input>
                <div nz-form-explain *ngIf="validateForm.controls['command'].dirty && validateForm.controls['command'].hasError('required')">
                  Please input the command
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </nz-modal>
      <nz-table #nzTable [nzDataSource]="dataset" [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="detector.detectChanges()" [(nzPageSize)]="pageSize" [nzLoading]="loading">
        <thead nz-thead>
          <tr>
            <th nz-th [nzWidth]="'20%'"><span>Name</span></th>
            <th nz-th [nzWidth]="'20%'"><span>Status</span></th>
            <th nz-th [nzWidth]="'20%'"><span>Command</span></th>
            <th nz-th><span>Action</span></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let row of nzTable.data">
            <td nz-td>{{row.description.name}}</td>
            <td nz-td>
              <nz-popover [nzTrigger]="'click'" [nzTitle]="'Status'">
                <a nz-popover>{{row.description.status}}</a>
                <ng-template #nzTemplate>
                  <ul>
                    <li *ngIf="row.description.pid">
                      PID: {{row.description.pid}}
                    </li>
                    <li *ngIf="row.description.createTime">
                      CreateTime: {{row.description.createTime | amFromUnix | amCalendar}}
                    </li>
                    <li *ngIf="row.description.startTime">
                      StartTime: {{row.description.startTime | amFromUnix | amCalendar}}
                    </li>
                    <li *ngIf="row.description.stopTime">
                      StopTime: {{row.description.stopTime | amFromUnix | amCalendar}}
                    </li>
                  </ul>
                </ng-template>
              </nz-popover>
            </td>
            <td nz-td>
              <nz-popover [nzTrigger]="'click'" [nzTitle]="'Arguments'">
                <a nz-popover>{{row.description.command}}</a>
                <ng-template #nzTemplate>
                  <ul>
                    <li *ngFor="let arg of row.description.args">{{arg}}</li>
                  </ul>
                </ng-template>
              </nz-popover>
            </td>
            <td nz-td>
              <span *ngIf="isOnline(row.description.status)">
                <a (click)="onRestart(row.description.handle)">Restart</a>
                <span nz-table-divider></span>
              </span>
              <span *ngIf="isOffline(row.description.status)">
                <a (click)="onStart(row.description.handle)">Start</a>
                <span nz-table-divider></span>
              </span>
              <span *ngIf="isOnline(row.description.status)">
                <a (click)="onStop(row.description.handle)">Stop</a>
                <span nz-table-divider></span>
              </span>
              <nz-dropdown [nzTrigger]="'click'">
                <a class="ant-dropdown-link" nz-dropdown>
                  More <i class="anticon anticon-down"></i>
                </a>
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="onRemove(row.description.handle)">Remove</a>
                  </li>
                </ul>
              </nz-dropdown>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
  <nz-footer class="footer">
    <!-- Copyleft -->
  </nz-footer>
  <nz-back-top></nz-back-top>
</nz-layout>
