<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul class="menu" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-menu-item>Home</li>
    </ul>
  </nz-header>
  <nz-content class="content-container">
    <div class="content">
      <div class="table-operations">
        <button nz-button [nzType]="'default'" [nzShape]="'circle'" [nzLoading]="loading" (click)="onReload()">
          <i class="anticon anticon-reload"></i>
        </button>
        <button nz-button [nzType]="'default'" (click)="onPrepareCreate()">
          Create
        </button>
        <button nz-button [nzType]="'default'" (click)="onTClick()">
          TC
        </button>
      </div>
      <nz-modal [nzTitle]="'Create Process Modal'" [nzVisible]="isCreateModalVisible" [nzContent]="modalContent" (nzOnCancel)="onCancelCreate()" (nzOnOk)="onCreate()">
        <ng-template #modalContent>
          <form nz-form class="create-form" *ngIf="isCreateModalVisible" [formGroup]="optionsForm" (ngSubmit)="onCreate()">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="name" nz-form-item-required>Name</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="optionsForm.controls['name']">
                <nz-input formControlName="name" [nzId]="'name'"></nz-input>
                <div nz-form-explain *ngIf="optionsForm.controls['name'].dirty && optionsForm.controls['name'].hasError('required')">
                  Please input the name
                </div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="command" nz-form-item-required>Command</label>
              </div>
              <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="optionsForm.controls['command']">
                <nz-input formControlName="command" [nzId]="'command'"></nz-input>
                <div nz-form-explain *ngIf="optionsForm.controls['command'].dirty && optionsForm.controls['command'].hasError('required')">
                  Please input the command
                </div>
              </div>
            </div>
            <div nz-form-item nz-row *ngFor="let oan of optionsArgumentsFormControlNames; let i = index">
              <div nz-form-label nz-col [nzSpan]="6" *ngIf="i === 0">
                <label [attr.for]="oan">Arguments</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="i === 0 ? 0 : 6" [nzValidateStatus]="optionsForm.controls[oan]">
                <nz-input style="width: 90%; margin-right: 10px" [formControlName]="oan" [nzId]="oan"></nz-input>
                <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="detachArgFormField(oan, $event)"></i>
                <div nz-form-explain *ngIf="optionsForm.controls[oan]?.dirty && optionsForm.controls[oan]?.hasError('required')">
                  Please input the argument or delete this field
                </div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                <button nz-button style="width: 90%" [nzType]="'dashed'" (click)="addArgumentsFormField($event)">
                  <i class="anticon anticon-plus"></i>
                  <span>Add argument</span>
                </button>
              </div>
            </div>
          </form>
        </ng-template>
      </nz-modal>
      <processes-table [dataset]="dataset" [(pageIndex)]="pageIndex" (pageIndexChange)="detector.detectChanges()" [(pageSize)]="pageSize" (pageSizeChange)="detector.detectChanges()" [loading]="loading">
      </processes-table>
    </div>
  </nz-content>
  <nz-footer class="footer">
    <!-- Copyleft -->
  </nz-footer>
  <nz-back-top></nz-back-top>
</nz-layout>
