<nz-table #nzTable [nzDataSource]="dataset" [nzPageIndex]="pageIndex" (nzPageIndexChange)="onPageIndexChange($event)" [nzPageSize]="pageSize" (nzPageSizeChange)="onPageSizeChange($event)" [nzLoading]="loading">
  <thead nz-thead>
    <tr>
      <th nz-th nzWidth="18%"><span>Name</span></th>
      <th nz-th nzWidth="18%"><span>Status</span></th>
      <th nz-th nzWidth="18%"><span>Command</span></th>
      <th nz-th nzWidth="18%"><span>Output</span></th>
      <th nz-th><span>Actions</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let row of nzTable.data">
      <td nz-td>{{row.description.name}}</td>
      <td nz-td>
        <nz-popover nzTrigger="click" nzTitle="Status">
          <a nz-popover>{{row.description.status}}</a>
          <ng-template #nzTemplate>
            <ul>
              <li *ngIf="row.description.pid">
                PID: {{row.description.pid}}
              </li>
              <li *ngIf="row.description.createTime">
                CreateTime: {{row.description.createTime | amFromUnix | amCalendar}}
              </li>
              <li *ngIf="row.description.startTime">
                StartTime: {{row.description.startTime | amFromUnix | amCalendar}}
              </li>
              <li *ngIf="row.description.stopTime">
                StopTime: {{row.description.stopTime | amFromUnix | amCalendar}}
              </li>
            </ul>
          </ng-template>
        </nz-popover>
      </td>
      <td nz-td>
        <nz-popover nzTrigger="click" nzTitle="Options">
          <a nz-popover>{{row.description.options.command}}</a>
          <ng-template #nzTemplate>
            <ul>
              <li>Working Directory: {{row.description.options.cwd}}</li>
              <li>Arguments:</li>
              <li *ngFor="let x of row.description.options.arguments">&nbsp; {{x}}</li>
            </ul>
          </ng-template>
        </nz-popover>
      </td>
      <td nz-td>
        <nz-popover nzTrigger="click" nzTitle="Output" nzPlacement="left">
          <a nz-popover>
            <div *ngIf="row.output.lastUpdateTime === 0; else nonempty">None</div>
            <ng-template #nonempty>{{row.output.lastUpdateTime | amFromUnix | amCalendar}}</ng-template>
          </a>
          <ng-template #nzTemplate>
            <ul>
              <li *ngIf="row.output.lines.length > 20">..</li>
              <li *ngFor="let x of row.output.lines.slice(-20)">{{x}}</li>
            </ul>
          </ng-template>
        </nz-popover>
      </td>
      <td nz-td>
        <span *ngIf="isOnline(row.description.status)">
          <a (click)="onRestart(row.description.handle)">Restart</a>
          <span nz-table-divider></span>
        </span>
        <span *ngIf="isOffline(row.description.status)">
          <a (click)="onStart(row.description.handle)">Start</a>
          <span nz-table-divider></span>
        </span>
        <span *ngIf="isOnline(row.description.status)">
          <a (click)="onStop(row.description.handle)">Stop</a>
          <span nz-table-divider></span>
        </span>
        <nz-dropdown nzTrigger="click">
          <a class="ant-dropdown-link" nz-dropdown>
            More <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="onRemove(row.description.handle)">Remove</a>
            </li>
          </ul>
        </nz-dropdown>
      </td>
    </tr>
  </tbody>
</nz-table>
